<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon"
    href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Simulator Tool</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <!--
                    <li role="presentation"><a href="showSignUp">Sign Up</a> -->
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Simulation Tool</h3>
        </div>


        <form id='registration' name="submit" action="/runDriverSimulation" method="post" onsubmit="return validateForm()">
            <div class="form-group">
                <label for="driverIds">Driver Ids</label>
                <input name="driverIds" type="text" class="form-control" id="driverIds" placeholder="Driver Ids">
            </div>
            <div class="form-group">
                <label for="routeIds">Route Ids</label>
                <input name="routeIds" type="text" class="form-control" id="RouteIds" placeholder="Route Ids">
            </div>
            <div class="form-group">
                <label for="routeIds">Time (min)</label>
                <input name="Time" type="text" class="form-control" id="Time" placeholder="Time offset for the future">
            </div>

            <div class="form-group">
                <label class="radio">
                <input name="eta" type="checkbox" id="eta">
                    Create ETA
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="options1" value="QA" >QA Environment
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="Radios2" value="docker"> Docker
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="Radios3" value="prod" disabled> Production
                </label>
            </div>
            <button type="submit" class="btn btn-success active">Submit</button>
        </form>



        <footer class="footer">
            <p>&copy; Shuttl 2015</p>
        </footer>

    </div>
<script>
    function validateForm() {
    var driver = document.forms["submit"]["driverIds"].value;
    var route = document.forms["submit"]["routeIds"].value;
    var time = document.forms["submit"]["Time"].value;
    var env = document.forms["submit"]["optionsRadios"].value;
    if (driver == null || driver == "") {
        alert("Driver Id Must be provided!");
        return false;
    }
    else if (route == null || route == "") {
        alert("Route Id Must be provided!");
        return false;
    }
    else if (time == null || time == "") {
        alert("Time Must be provided!");
        return false;
    }
    else if (env == null || env == "") {
        alert("Enviroment Must be provided!");
        return false;
    }
}
</script>
</body>

</html>